---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import PortfolioGrid from '../components/PortfolioGrid.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="bg-[#f9fafb] flex flex-col min-h-screen w-full">
    <Navbar currentPage="work" />
    <div class="flex flex-col gap-8 md:gap-12 items-center overflow-clip w-full max-w-[1440px] mx-auto py-8 md:py-12 animate-[fadeIn_0.4s_ease-out]">
      <Hero />
      <PortfolioGrid />
    </div>
    <Footer />
  </div>
</Layout>
